# Dependencies
/node_modules

# Next.js build output
/.next
/out

# Production build
/build

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Environment variables
.env
.env*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS
.DS_Store
*.pem
.vercel
